body{
    margin: 0px;
    background-color: #edecec;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
p{
    font-weight: 600;
}

.navbar{
    width: 100%;
    position: fixed;
    z-index: 20;
}

.search{
    background-color: #edecec;
    border:none;
    height: 25px;
    width: 250px;
    margin: 20px;
    border-radius: 15px;
}

.search:hover{
    background-color: #ffffff;
}

.container-title{
    background-color: #30479e;
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}

.image-title{
    width: 384px;
    height: 56px;
    object-fit: cover;
}

nav{
    box-shadow: 0px 0px 20px 0px;
    display: flex;
    background-color: #ffffff;;
    height: 68px;
    align-items: center;
    justify-content: center;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block; 
    margin-right: 3vw;
}

nav ul li a {
    font-size: 20px;
    font-weight: 800;
    text-decoration: none; 
    color: #333; 
}

nav ul li a:hover {
    font-size: 22px;
    color: rgb(41 40 137); 
}

nav ul li a img {
    width: 40px;
    height: 40px;
}

/*/////////////////////////////////////////////////////////////////////////////*/

main h1{
    margin: 0;
    height: 135px;
}

.container-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('./image/fondo-section.png');
    background-size: cover;
    background-position: center;
    border-color:#333;
    color: white;
}

.sub-title{
    border-color:#333;
    color:white;
    font-size: 45px;
    font-weight: 1000;
}

.container-section p{
    width: 660px;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

/*///////////////////////////////////////////////////////////////*/

.sub-title-dos{
    margin: 0px;
    height: 75px;
    width: 100%;
    background-color: rgb(9 31 82);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px; 
  }
  
  .article-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .article-content img {
    max-width: 100%;
  }

/*//////////////////////////////////////////////////////*/
footer{
    background-color: #cfd3d6;
    height: 100px;
}
  